


<main class="main">
  <h1> João da Silva</h1>
  <h2> Sobre Mim </h2>
  <p> Olá, meu nome é João da Silva. Sou desenvolvedor web com mais de 5 anos de experência na criação de websites e aplicativos.<br>
    Meu foco é construir soluções funcionais e agradáveis.<br><br>
  Além de desenvolvedor, também gosto de aprender novas tecnologias e contribuir para projetos de código aberto sempre que posso.
  </p>
  <h2> Expereência </h2>
  <p> Atualmente, trabalho como desenvolvedor front-end em uma empresa de tecnologia, onde ajudo a criar interfaces de usuário<br> resonsivas e acessíveis.</p><br>
   No passado, trabalhei em diversas startups, onde pude adquirir uma ampla gama de habilidades em diferentes tecnologias <br>e metodologias de desenvolvimento.
  <h2> Contato </h2>
  <p> Você pode entrar em contato comigo pelo e-mail: joao.silva&#64;email.com. Estou sempre aberto para novas oportunidades e<br> e parcerias em projetos interessantes.
    <br><br>Também estou disponível nas redes sociais, como LinkedIn e GitHub, onde compartilho meu trabalho e minhas colaborações.</p>
  <img src="/homemperfil.jpg">

</main>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<router-outlet />
